<section class="section-spacing">
    <app-hero-banner></app-hero-banner>
</section>

<section class="section-spacing" #productTabs>
    <app-product-tabs (productSelected)="updateFeaturedProduct($event)"></app-product-tabs>
</section>

<section class="section-spacing">
    <app-featured-categories></app-featured-categories>
</section>

<section class="section-spacing" #collectionsSection>
    <app-collections [product]="featuredProduct" (backToProducts)="scrollToProductTabs()"></app-collections>
</section>